html, body {
    width: 100%;
    overflow-x: hidden;
}

.header{
    min-height: 0vh;
}

.header-content{
    padding: 100px 30px;
}

.header-content p{
    padding: 0;
}

.header-content h1{
    margin-top: 80px;
    font-size: 70px;
}
/**/
.logo {
    width: 5rem;
    height: 5rem;
}

.header-content h1{
    font-size: 3rem;
    line-height: 70px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.ice-cream-content h2{
    font-size: 2rem;
    line-height: 50px;
    color: #F2F6D0;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.services-content h2{
    font-size: 2rem;
    line-height: 50px;
    color: #F2F6D0;
    text-transform: uppercase;
    margin-bottom: 50px;
}

h2{
    font-size: 2rem;
    line-height: 50px;
    color: #F2F6D0;
    text-transform: uppercase;
    margin-bottom: 20px;
}


/**/

.ice-cream{
    padding: 30px;
}

.ice-cream-content h2{
    padding: 0;
}

.txt-p{
    padding: 0;
}

.ice-cream-group{
    flex-direction: column;
    margin-bottom: 0;
}

.ice-cream-product{
    margin-bottom: 35px;
}

.moras{
    display: none;
}

.services{
    padding: 30px;
}

.services-content p{
    padding: 0;
}

.services-group{
    flex-direction: column;
    align-items: center;
}

.services-1{
    margin-bottom: 35px;
}

.general{
    flex-direction: column;
}

.general-1{
    width: 100%;
    padding: 30px;
    text-align: center;
}

.general-2, .general-3{
    display: none;
}

.footer{
    padding: 30px;
}

.footer-content{
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.link{
    margin-top: 20px;
}

.locations-content.container {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    max-width: 100%;
}

.locations {
    padding-left: 0;
    padding-right: 0;
}

.locations-group{
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.location-item{
    width: 100%;
    padding: 0 25px;
    margin: 0 10px;
    margin-bottom: 20px;
    background-color: #F2F6D0;
    border-radius: 10px;
    transition: 0.3s ease;
    text-align: center;
}

.location-item:hover{
    transform: scale(1.05);
}

.location-img{
    height: 300px;
    border-radius: 5%;
    overflow: hidden;
}

.location-img img{
    width: 95%;
    height: 80%;
    border-radius: 5%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.location-info{
    padding: 0;
}

.delivery-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    color: #F2F6D0;
}

.delivery-item{
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
    padding: 20px 10px;
    background: #D98324;
    border-radius: 5%;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.map-placeholder p{
    text-align: center;
}

.about-image img{
    width: 50%;
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    background: #F2F6D0;
    margin-top: 70px;
    border-radius: 10px;
}




